@import url('https://fonts.googleapis.com/css2?family=Estonia&family=Nunito:wght@200&family=Poppins:wght@200&family=Roboto:wght@100&display=swap');

.logo{
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
   
   
}
.cabecalhomenu{
  color: #fff;
  display: flex;
  gap: 30px; /*distancia entre os elementos da tag pai(nav)*/ 
}

.cabecalhomenu > a{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}